In [117]:
import pandas as pd

In [118]:
filepath = "data/LP.csv"
filepath2 = "data/LCIS.csv"

In [119]:
lp = pd.read_csv(filepath)
lc = pd.read_csv(filepath2)

In [120]:
lp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3203276 entries, 0 to 3203275
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   ListingId   int64
 1   期数          int64
 2   还款状态        int64
 3   应还本金        float64
 4   应还利息        float64
 5   剩余本金        float64
 6   剩余利息        float64
 7   到期日期        object
 8   还款日期        object
 9   recorddate  object
dtypes: float64(4), int64(3), object(3)
memory usage: 244.4+ MB

In [121]:
lc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292539 entries, 0 to 292538
Data columns (total 37 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ListingId   292539 non-null  int64
 1   借款金额        292539 non-null  int64
 2   借款期限        292539 non-null  int64
 3   借款利率        292539 non-null  float64
 4   借款成功日期      292539 non-null  object
 5   初始评级        292539 non-null  object
 6   借款类型        292539 non-null  object
 7   是否首标        292539 non-null  object
 8   年龄          292539 non-null  int64
 9   性别          292539 non-null  object
 10  手机认证        292539 non-null  object
 11  户口认证        292539 non-null  object
 12  视频认证        292539 non-null  object
 13  学历认证        292539 non-null  object
 14  征信认证        292539 non-null  object
 15  淘宝认证        292539 non-null  object
 16  历史成功借款次数    291336 non-null  float64
 17  历史成功借款金额    291336 non-null  float64
 18  总待还本金       292539 non-null  float64
 19  历史正常还款期数    292539 non-null  int64
 20  历史逾期还款期数    292539 non-null  int64
 21  我的投资金额      292539 non-null  int64
 22  当前到期期数      292539 non-null  int64
 23  当前还款期数      292539 non-null  int64
 24  已还本金        292539 non-null  float64
 25  已还利息        292539 non-null  float64
 26  待还本金        292539 non-null  float64
 27  待还利息        292539 non-null  float64
 28  标当前逾期天数     292539 non-null  int64
 29  标当前状态       292539 non-null  object
 30  上次还款日期      271490 non-null  object
 31  上次还款本金      270290 non-null  float64
 32  上次还款利息      270290 non-null  float64
 33  下次计划还款日期    182563 non-null  object
 34  下次计划还款本金    182563 non-null  float64
 35  下次计划还款利息    181494 non-null  float64
 36  recorddate  292130 non-null  object
dtypes: float64(12), int64(10), object(15)
memory usage: 82.6+ MB

In [122]:
merged_df = pd.merge(lc,lp, on="ListingId", how = "inner")
merged_df.columns

Index(['ListingId', '借款金额', '借款期限', '借款利率', '借款成功日期', '初始评级', '借款类型', '是否首标',
       '年龄', '性别', '手机认证', '户口认证', '视频认证', '学历认证', '征信认证', '淘宝认证', '历史成功借款次数',
       '历史成功借款金额', '总待还本金', '历史正常还款期数', '历史逾期还款期数', '我的投资金额', '当前到期期数',
       '当前还款期数', '已还本金', '已还利息', '待还本金', '待还利息', '标当前逾期天数', '标当前状态', '上次还款日期',
       '上次还款本金', '上次还款利息', '下次计划还款日期', '下次计划还款本金', '下次计划还款利息', 'recorddate_x',
       '期数', '还款状态', '应还本金', '应还利息', '剩余本金', '剩余利息', '到期日期', '还款日期',
       'recorddate_y'],
      dtype='object')

1. perform translation on columns
2. combine record dates

In [123]:
# Translation Process:

translation_dict = {
    '借款金额': 'Loan Amount',
    '借款期限': 'Loan Term',
    '借款利率': 'Loan Interest Rate',
    '借款成功日期': 'Loan Approval Date',
    '初始评级': 'Initial Rating',
    '借款类型': 'Loan Type',
    '是否首标': 'First Bid',
    '年龄': 'Age',
    '性别': 'Gender',
    '手机认证': 'Mobile Verification',
    '户口认证': 'Residence Verification',
    '视频认证': 'Video Verification',
    '学历认证': 'Education Verification',
    '征信认证': 'Credit Verification',
    '淘宝认证': 'Taobao Verification',
    '历史成功借款次数': 'Historical Successful Borrowing Count',
    '历史成功借款金额': 'Historical Successful Borrowing Amount',
    '总待还本金': 'Total Outstanding Principal',
    '历史正常还款期数': 'Historical Normal Repayment Periods',
    '历史逾期还款期数': 'Historical Overdue Repayment Periods',
    '我的投资金额': 'My Investment Amount', 
    '当前到期期数': 'Due Installments Num',
    '当前还款期数': 'Successfully Paid Installments Num', 
    '已还本金': 'Principal Paid', 
    '已还利息': 'Interest Paid', 
    '待还本金': 'Principal wait for paid', 
    '待还利息': 'Interest wait for paid', 
    '标当前逾期天数': 'Overdue Days before bid', 
    '标当前状态': 'Bid Status', 
    '上次还款日期': 'Last Payment Date',
    '上次还款本金': 'Last Paid Principal', 
    '上次还款利息': 'Last Paid Interest', 
    '下次计划还款日期': 'Next Due date', 
    '下次计划还款本金': 'Next Due Principal', 
    '下次计划还款利息': 'Next Due Interest',
    '期数': 'Installments',
    '还款状态': 'Repayment Status',
    '应还本金': 'Principal Due',
    '应还利息': 'Interest Due',
    '剩余本金': 'Remaining Principal',
    '剩余利息': 'Remaining Interest',
    '到期日期': 'Due Date',
    '还款日期': 'Repayment Date'
}

merged_df.rename(columns=translation_dict, inplace=True)

In [124]:
merged_df.head()

,ListingId,Loan Amount,Loan Term,Loan Interest Rate,Loan Approval Date,Initial Rating,Loan Type,First Bid,Age,Gender,...,recorddate_x,Installments,Repayment Status,Principal Due,Interest Due,Remaining Principal,Remaining Interest,Due Date,Repayment Date,recorddate_y
0,2158281,3919,12,18.0,2015/4/14,C,普通,否,28,男,...,2016/12/31,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22
1,2158281,3919,12,18.0,2015/4/14,C,普通,否,28,男,...,2016/12/31,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2017-02-22
2,2158281,3919,12,18.0,2015/4/14,C,普通,否,28,男,...,2017/2/28,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22
3,2158281,3919,12,18.0,2015/4/14,C,普通,否,28,男,...,2017/2/28,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2017-02-22
4,2158281,3919,12,18.0,2015/4/14,C,普通,否,28,男,...,2016/9/30,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22

In [125]:
merged_df.drop(['recorddate_x'], axis=1,inplace=True)

In [126]:
merged_df.columns

Index(['ListingId', 'Loan Amount', 'Loan Term', 'Loan Interest Rate',
       'Loan Approval Date', 'Initial Rating', 'Loan Type', 'First Bid', 'Age',
       'Gender', 'Mobile Verification', 'Residence Verification',
       'Video Verification', 'Education Verification', 'Credit Verification',
       'Taobao Verification', 'Historical Successful Borrowing Count',
       'Historical Successful Borrowing Amount', 'Total Outstanding Principal',
       'Historical Normal Repayment Periods',
       'Historical Overdue Repayment Periods', 'My Investment Amount',
       'Due Installments Num', 'Successfully Paid Installments Num',
       'Principal Paid', 'Interest Paid', 'Principal wait for paid',
       'Interest wait for paid', 'Overdue Days before bid', 'Bid Status',
       'Last Payment Date', 'Last Paid Principal', 'Last Paid Interest',
       'Next Due date', 'Next Due Principal', 'Next Due Interest',
       'Installments', 'Repayment Status', 'Principal Due', 'Interest Due',
       'Remaining Principal', 'Remaining Interest', 'Due Date',
       'Repayment Date', 'recorddate_y'],
      dtype='object')

3. translation for column contents
4. drop unnecessary columns
5. convert to datetime for columns

In [127]:
mapping = {"未成功认证": 0, "成功认证": 1}
merged_df['Mobile Verification'] = merged_df['Mobile Verification'].map(mapping)
merged_df['Residence Verification'] = merged_df['Residence Verification'].map(mapping)
merged_df['Video Verification'] = merged_df['Video Verification'].map(mapping)
merged_df['Education Verification'] = merged_df['Education Verification'].map(mapping)
merged_df['Credit Verification'] = merged_df['Credit Verification'].map(mapping)
merged_df['Taobao Verification'] = merged_df['Taobao Verification'].map(mapping)

In [128]:
merged_df['Gender'] = merged_df['Gender'].replace({"男": 0, "女": 1})
merged_df["First Bid"] = merged_df["First Bid"].replace({"是": 1, "否": 0})

In [129]:
merged_df.head()

,ListingId,Loan Amount,Loan Term,Loan Interest Rate,Loan Approval Date,Initial Rating,Loan Type,First Bid,Age,Gender,...,Next Due Interest,Installments,Repayment Status,Principal Due,Interest Due,Remaining Principal,Remaining Interest,Due Date,Repayment Date,recorddate_y
0,2158281,3919,12,18.0,2015/4/14,C,普通,0,28,0,...,NaN,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22
1,2158281,3919,12,18.0,2015/4/14,C,普通,0,28,0,...,NaN,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2017-02-22
2,2158281,3919,12,18.0,2015/4/14,C,普通,0,28,0,...,NaN,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22
3,2158281,3919,12,18.0,2015/4/14,C,普通,0,28,0,...,NaN,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2017-02-22
4,2158281,3919,12,18.0,2015/4/14,C,普通,0,28,0,...,NaN,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22

In [130]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230924 entries, 0 to 230923
Data columns (total 45 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ListingId                               230924 non-null  int64
 1   Loan Amount                             230924 non-null  int64
 2   Loan Term                               230924 non-null  int64
 3   Loan Interest Rate                      230924 non-null  float64
 4   Loan Approval Date                      230924 non-null  object
 5   Initial Rating                          230924 non-null  object
 6   Loan Type                               230924 non-null  object
 7   First Bid                               230924 non-null  int64
 8   Age                                     230924 non-null  int64
 9   Gender                                  230924 non-null  int64
 10  Mobile Verification                     230924 non-null  int64
 11  Residence Verification                  230924 non-null  int64
 12  Video Verification                      230924 non-null  int64
 13  Education Verification                  230924 non-null  int64
 14  Credit Verification                     230924 non-null  int64
 15  Taobao Verification                     230924 non-null  int64
 16  Historical Successful Borrowing Count   230924 non-null  float64
 17  Historical Successful Borrowing Amount  230924 non-null  float64
 18  Total Outstanding Principal             230924 non-null  float64
 19  Historical Normal Repayment Periods     230924 non-null  int64
 20  Historical Overdue Repayment Periods    230924 non-null  int64
 21  My Investment Amount                    230924 non-null  int64
 22  Due Installments Num                    230924 non-null  int64
 23  Successfully Paid Installments Num      230924 non-null  int64
 24  Principal Paid                          230924 non-null  float64
 25  Interest Paid                           230924 non-null  float64
 26  Principal wait for paid                 230924 non-null  float64
 27  Interest wait for paid                  230924 non-null  float64
 28  Overdue Days before bid                 230924 non-null  int64
 29  Bid Status                              230924 non-null  object
 30  Last Payment Date                       211570 non-null  object
 31  Last Paid Principal                     211570 non-null  float64
 32  Last Paid Interest                      211570 non-null  float64
 33  Next Due date                           180926 non-null  object
 34  Next Due Principal                      180926 non-null  float64
 35  Next Due Interest                       180926 non-null  float64
 36  Installments                            230924 non-null  int64
 37  Repayment Status                        230924 non-null  int64
 38  Principal Due                           230924 non-null  float64
 39  Interest Due                            230924 non-null  float64
 40  Remaining Principal                     230924 non-null  float64
 41  Remaining Interest                      230924 non-null  float64
 42  Due Date                                230924 non-null  object
 43  Repayment Date                          230924 non-null  object
 44  recorddate_y                            230924 non-null  object
dtypes: float64(16), int64(20), object(9)
memory usage: 79.3+ MB

In [131]:
print(merged_df['Loan Type'].unique())
merged_df['Loan Type'].replace({'其他':'other','普通':'normal','电商':'E-commerce','APP闪电':'app'}, inplace=True)
print(merged_df['Loan Type'].unique())

['普通' 'APP闪电' '其他' '电商']
['normal' 'app' 'other' 'E-commerce']

In [132]:
merged_df['Due Date'] = pd.to_datetime(merged_df['Due Date'])
merged_df['recorddate_y'] = pd.to_datetime(merged_df['recorddate_y'])
merged_df['Loan Approval Date'] = pd.to_datetime(merged_df['Loan Approval Date'])
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230924 entries, 0 to 230923
Data columns (total 45 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ListingId                               230924 non-null  int64
 1   Loan Amount                             230924 non-null  int64
 2   Loan Term                               230924 non-null  int64
 3   Loan Interest Rate                      230924 non-null  float64
 4   Loan Approval Date                      230924 non-null  datetime64[ns]
 5   Initial Rating                          230924 non-null  object
 6   Loan Type                               230924 non-null  object
 7   First Bid                               230924 non-null  int64
 8   Age                                     230924 non-null  int64
 9   Gender                                  230924 non-null  int64
 10  Mobile Verification                     230924 non-null  int64
 11  Residence Verification                  230924 non-null  int64
 12  Video Verification                      230924 non-null  int64
 13  Education Verification                  230924 non-null  int64
 14  Credit Verification                     230924 non-null  int64
 15  Taobao Verification                     230924 non-null  int64
 16  Historical Successful Borrowing Count   230924 non-null  float64
 17  Historical Successful Borrowing Amount  230924 non-null  float64
 18  Total Outstanding Principal             230924 non-null  float64
 19  Historical Normal Repayment Periods     230924 non-null  int64
 20  Historical Overdue Repayment Periods    230924 non-null  int64
 21  My Investment Amount                    230924 non-null  int64
 22  Due Installments Num                    230924 non-null  int64
 23  Successfully Paid Installments Num      230924 non-null  int64
 24  Principal Paid                          230924 non-null  float64
 25  Interest Paid                           230924 non-null  float64
 26  Principal wait for paid                 230924 non-null  float64
 27  Interest wait for paid                  230924 non-null  float64
 28  Overdue Days before bid                 230924 non-null  int64
 29  Bid Status                              230924 non-null  object
 30  Last Payment Date                       211570 non-null  object
 31  Last Paid Principal                     211570 non-null  float64
 32  Last Paid Interest                      211570 non-null  float64
 33  Next Due date                           180926 non-null  object
 34  Next Due Principal                      180926 non-null  float64
 35  Next Due Interest                       180926 non-null  float64
 36  Installments                            230924 non-null  int64
 37  Repayment Status                        230924 non-null  int64
 38  Principal Due                           230924 non-null  float64
 39  Interest Due                            230924 non-null  float64
 40  Remaining Principal                     230924 non-null  float64
 41  Remaining Interest                      230924 non-null  float64
 42  Due Date                                230924 non-null  datetime64[ns]
 43  Repayment Date                          230924 non-null  object
 44  recorddate_y                            230924 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(16), int64(20), object(6)
memory usage: 79.3+ MB

The purpose of this project is to generate a model that were able to predict the repayment status, therefore columns with information regarding the investment amount shall be dropped considered they are not be haviors of borrowers.

In [133]:
merged_df.columns

Index(['ListingId', 'Loan Amount', 'Loan Term', 'Loan Interest Rate',
       'Loan Approval Date', 'Initial Rating', 'Loan Type', 'First Bid', 'Age',
       'Gender', 'Mobile Verification', 'Residence Verification',
       'Video Verification', 'Education Verification', 'Credit Verification',
       'Taobao Verification', 'Historical Successful Borrowing Count',
       'Historical Successful Borrowing Amount', 'Total Outstanding Principal',
       'Historical Normal Repayment Periods',
       'Historical Overdue Repayment Periods', 'My Investment Amount',
       'Due Installments Num', 'Successfully Paid Installments Num',
       'Principal Paid', 'Interest Paid', 'Principal wait for paid',
       'Interest wait for paid', 'Overdue Days before bid', 'Bid Status',
       'Last Payment Date', 'Last Paid Principal', 'Last Paid Interest',
       'Next Due date', 'Next Due Principal', 'Next Due Interest',
       'Installments', 'Repayment Status', 'Principal Due', 'Interest Due',
       'Remaining Principal', 'Remaining Interest', 'Due Date',
       'Repayment Date', 'recorddate_y'],
      dtype='object')

In [134]:
merged_df.drop('My Investment Amount', axis=1, inplace=True)

In [135]:
merged_df.head()

,ListingId,Loan Amount,Loan Term,Loan Interest Rate,Loan Approval Date,Initial Rating,Loan Type,First Bid,Age,Gender,...,Next Due Interest,Installments,Repayment Status,Principal Due,Interest Due,Remaining Principal,Remaining Interest,Due Date,Repayment Date,recorddate_y
0,2158281,3919,12,18.0,2015-04-14,C,normal,0,28,0,...,NaN,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22
1,2158281,3919,12,18.0,2015-04-14,C,normal,0,28,0,...,NaN,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2017-02-22
2,2158281,3919,12,18.0,2015-04-14,C,normal,0,28,0,...,NaN,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22
3,2158281,3919,12,18.0,2015-04-14,C,normal,0,28,0,...,NaN,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2017-02-22
4,2158281,3919,12,18.0,2015-04-14,C,normal,0,28,0,...,NaN,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2017-02-22

In [136]:
#We decided to combine verifications columns by adding them up
#Recorddate is simply the date they record all these status for the borrowers, should not be influential to their behaviors, so we will remove them
merged_df.drop('recorddate_y', axis=1, inplace=True)
verification_columns = [col for col in merged_df.columns if col.endswith('Verification')]
merged_df['Verification'] = merged_df[verification_columns].sum(axis=1)
merged_df.drop(verification_columns, axis=1, inplace=True)
merged_df.columns

Index(['ListingId', 'Loan Amount', 'Loan Term', 'Loan Interest Rate',
       'Loan Approval Date', 'Initial Rating', 'Loan Type', 'First Bid', 'Age',
       'Gender', 'Historical Successful Borrowing Count',
       'Historical Successful Borrowing Amount', 'Total Outstanding Principal',
       'Historical Normal Repayment Periods',
       'Historical Overdue Repayment Periods', 'Due Installments Num',
       'Successfully Paid Installments Num', 'Principal Paid', 'Interest Paid',
       'Principal wait for paid', 'Interest wait for paid',
       'Overdue Days before bid', 'Bid Status', 'Last Payment Date',
       'Last Paid Principal', 'Last Paid Interest', 'Next Due date',
       'Next Due Principal', 'Next Due Interest', 'Installments',
       'Repayment Status', 'Principal Due', 'Interest Due',
       'Remaining Principal', 'Remaining Interest', 'Due Date',
       'Repayment Date', 'Verification'],
      dtype='object')

In [137]:
#dealing with null values
merged_df.isna().sum()

ListingId                                     0
Loan Amount                                   0
Loan Term                                     0
Loan Interest Rate                            0
Loan Approval Date                            0
Initial Rating                                0
Loan Type                                     0
First Bid                                     0
Age                                           0
Gender                                        0
Historical Successful Borrowing Count         0
Historical Successful Borrowing Amount        0
Total Outstanding Principal                   0
Historical Normal Repayment Periods           0
Historical Overdue Repayment Periods          0
Due Installments Num                          0
Successfully Paid Installments Num            0
Principal Paid                                0
Interest Paid                                 0
Principal wait for paid                       0
Interest wait for paid                        0
Overdue Days before bid                       0
Bid Status                                    0
Last Payment Date                         19354
Last Paid Principal                       19354
Last Paid Interest                        19354
Next Due date                             49998
Next Due Principal                        49998
Next Due Interest                         49998
Installments                                  0
Repayment Status                              0
Principal Due                                 0
Interest Due                                  0
Remaining Principal                           0
Remaining Interest                            0
Due Date                                      0
Repayment Date                                0
Verification                                  0
dtype: int64

In [138]:
#Last Payment Date is null, indicating that they did were overdue for the last installment
#Next Due date is null, probably due to already paid or haven't paid for last installment
#repayment status is our targer column, we are predicting it based on the past behavior, so the next due columns are unnecessary
nextduecols = [col for col in merged_df.columns if col.startswith('Next Due')]
merged_df.drop(nextduecols, axis=1, inplace=True)

In [139]:
rows = merged_df[merged_df.isnull().any(axis=1)]
rows['Bid Status'].unique()

array(['正常还款中', '逾期中'], dtype=object)

In [140]:
#Given that bid status aligns with our assumption on the null rows, we can remove the last paid columns
lastpaidcols = [col for col in merged_df.columns if col.startswith('Last ')]
merged_df.drop(lastpaidcols, axis=1, inplace=True)

In [141]:
merged_df.isna().sum()

ListingId                                 0
Loan Amount                               0
Loan Term                                 0
Loan Interest Rate                        0
Loan Approval Date                        0
Initial Rating                            0
Loan Type                                 0
First Bid                                 0
Age                                       0
Gender                                    0
Historical Successful Borrowing Count     0
Historical Successful Borrowing Amount    0
Total Outstanding Principal               0
Historical Normal Repayment Periods       0
Historical Overdue Repayment Periods      0
Due Installments Num                      0
Successfully Paid Installments Num        0
Principal Paid                            0
Interest Paid                             0
Principal wait for paid                   0
Interest wait for paid                    0
Overdue Days before bid                   0
Bid Status                                0
Installments                              0
Repayment Status                          0
Principal Due                             0
Interest Due                              0
Remaining Principal                       0
Remaining Interest                        0
Due Date                                  0
Repayment Date                            0
Verification                              0
dtype: int64

1. Separate Loan Approval Date based on quarter
2. Since Principal Paid and Principal wait for paid, Interest Paid and Interest wait for paid, indicating the same information, we can remove them, same for principal due and remaining principal due, interest due and remaining interest.
3. We will keep remaining principal due and remaining interest, as principal due and interest due can be calculated based on interest rate and loan term
4. Due date and repayment date can be combined to overdue to indicate if overdue in the current term
5. Last, we will use graphical analysis to determine the grouping of age
6. further graphical analysis will be conducted to generate a portrait of users
6. Before modelling, we will use decision tree to find weightage of different factors and remove the less important one

In [142]:
merged_df['Loan Approval Date'] = merged_df['Loan Approval Date'].dt.to_period('Q').astype(str).str[-2:]
merged_df.head()

,ListingId,Loan Amount,Loan Term,Loan Interest Rate,Loan Approval Date,Initial Rating,Loan Type,First Bid,Age,Gender,...,Bid Status,Installments,Repayment Status,Principal Due,Interest Due,Remaining Principal,Remaining Interest,Due Date,Repayment Date,Verification
0,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2
1,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2
2,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2
3,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,2,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2
4,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,1,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2

In [143]:
merged_df['Principal Paid PCT'] = merged_df['Principal Paid']/(merged_df['Principal Paid']+merged_df['Principal wait for paid'] *100)
merged_df['Interest Paid PCT'] = merged_df['Interest Paid']/(merged_df['Interest Paid'] + merged_df['Interest wait for paid'] *100)
merged_df.drop(['Principal Paid', 'Principal wait for paid', 'Interest Paid', 'Interest wait for paid'], axis=1, inplace=True)
merged_df.head()

,ListingId,Loan Amount,Loan Term,Loan Interest Rate,Loan Approval Date,Initial Rating,Loan Type,First Bid,Age,Gender,...,Repayment Status,Principal Due,Interest Due,Remaining Principal,Remaining Interest,Due Date,Repayment Date,Verification,Principal Paid PCT,Interest Paid PCT
0,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2,1.0,1.0
1,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2,1.0,1.0
2,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2,1.0,1.0
3,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,3,3618.49,9.05,0.0,0.0,2015-06-14,2015-05-19,2,1.0,1.0
4,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,1,300.51,58.78,0.0,0.0,2015-05-14,2015-05-09,2,1.0,1.0

In [144]:
merged_df.drop(['Principal Due', 'Interest Due'], axis=1, inplace=True)
merged_df.head()

,ListingId,Loan Amount,Loan Term,Loan Interest Rate,Loan Approval Date,Initial Rating,Loan Type,First Bid,Age,Gender,...,Bid Status,Installments,Repayment Status,Remaining Principal,Remaining Interest,Due Date,Repayment Date,Verification,Principal Paid PCT,Interest Paid PCT
0,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,1,1,0.0,0.0,2015-05-14,2015-05-09,2,1.0,1.0
1,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,2,3,0.0,0.0,2015-06-14,2015-05-19,2,1.0,1.0
2,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,1,1,0.0,0.0,2015-05-14,2015-05-09,2,1.0,1.0
3,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,2,3,0.0,0.0,2015-06-14,2015-05-19,2,1.0,1.0
4,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,已还清,1,1,0.0,0.0,2015-05-14,2015-05-09,2,1.0,1.0

In [145]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230924 entries, 0 to 230923
Data columns (total 28 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ListingId                               230924 non-null  int64
 1   Loan Amount                             230924 non-null  int64
 2   Loan Term                               230924 non-null  int64
 3   Loan Interest Rate                      230924 non-null  float64
 4   Loan Approval Date                      230924 non-null  object
 5   Initial Rating                          230924 non-null  object
 6   Loan Type                               230924 non-null  object
 7   First Bid                               230924 non-null  int64
 8   Age                                     230924 non-null  int64
 9   Gender                                  230924 non-null  int64
 10  Historical Successful Borrowing Count   230924 non-null  float64
 11  Historical Successful Borrowing Amount  230924 non-null  float64
 12  Total Outstanding Principal             230924 non-null  float64
 13  Historical Normal Repayment Periods     230924 non-null  int64
 14  Historical Overdue Repayment Periods    230924 non-null  int64
 15  Due Installments Num                    230924 non-null  int64
 16  Successfully Paid Installments Num      230924 non-null  int64
 17  Overdue Days before bid                 230924 non-null  int64
 18  Bid Status                              230924 non-null  object
 19  Installments                            230924 non-null  int64
 20  Repayment Status                        230924 non-null  int64
 21  Remaining Principal                     230924 non-null  float64
 22  Remaining Interest                      230924 non-null  float64
 23  Due Date                                230924 non-null  datetime64[ns]
 24  Repayment Date                          230924 non-null  object
 25  Verification                            230924 non-null  int64
 26  Principal Paid PCT                      230924 non-null  float64
 27  Interest Paid PCT                       230924 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(14), object(5)
memory usage: 49.3+ MB

In [146]:
merged_df['Repayment Date'].unique

<bound method Series.unique of 0         2015-05-09
1         2015-05-19
2         2015-05-09
3         2015-05-19
4         2015-05-09
             ...
230919            \N
230920            \N
230921    2017-02-16
230922            \N
230923            \N
Name: Repayment Date, Length: 230924, dtype: object>

In [147]:
merged_df['Repayment Date'] = merged_df['Repayment Date'].replace(r'\N', None)

In [148]:
merged_df['Repayment Date'] = pd.to_datetime(merged_df['Repayment Date'])
merged_df['OverDue'] = (merged_df['Repayment Date'].isna()) | (merged_df['Repayment Date'] > merged_df['Due Date'])
merged_df.drop(['Repayment Date', 'Due Date'], axis=1, inplace=True)

In [149]:
merged_df['OverDue'] = merged_df['OverDue'].astype("int")

In [150]:
merged_df.columns

Index(['ListingId', 'Loan Amount', 'Loan Term', 'Loan Interest Rate',
       'Loan Approval Date', 'Initial Rating', 'Loan Type', 'First Bid', 'Age',
       'Gender', 'Historical Successful Borrowing Count',
       'Historical Successful Borrowing Amount', 'Total Outstanding Principal',
       'Historical Normal Repayment Periods',
       'Historical Overdue Repayment Periods', 'Due Installments Num',
       'Successfully Paid Installments Num', 'Overdue Days before bid',
       'Bid Status', 'Installments', 'Repayment Status', 'Remaining Principal',
       'Remaining Interest', 'Verification', 'Principal Paid PCT',
       'Interest Paid PCT', 'OverDue'],
      dtype='object')

In [151]:
#now access the target column: Repayment Status
# 0-‘未还款’，1-‘已正常还款’，2-‘已逾期还款’，3-‘已提前还清该标全部欠款’，4-‘已部分还款’
# Now combining 0 and 2 as "1", 1 and 3 as "0"
merged_df['Repayment Status'].replace({0:1,2:1,1:0,3:0},inplace=True)
merged_df.head()

,ListingId,Loan Amount,Loan Term,Loan Interest Rate,Loan Approval Date,Initial Rating,Loan Type,First Bid,Age,Gender,...,Overdue Days before bid,Bid Status,Installments,Repayment Status,Remaining Principal,Remaining Interest,Verification,Principal Paid PCT,Interest Paid PCT,OverDue
0,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,0,已还清,1,0,0.0,0.0,2,1.0,1.0,0
1,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,0,已还清,2,0,0.0,0.0,2,1.0,1.0,0
2,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,0,已还清,1,0,0.0,0.0,2,1.0,1.0,0
3,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,0,已还清,2,0,0.0,0.0,2,1.0,1.0,0
4,2158281,3919,12,18.0,Q2,C,normal,0,28,0,...,0,已还清,1,0,0.0,0.0,2,1.0,1.0,0

In [152]:
merged_df['Bid Status'].unique()
merged_df['Bid Status'].replace({'已还清': 0, '正常还款中':0 , '逾期中':1}, inplace=True)

In [153]:
merged_df.drop('ListingId', axis=1, inplace=True)

In [155]:
file_path = "loans.csv"
merged_df.to_csv(file_path, index=False)